<div class ="erbjudande-container">
<h1 class = "company-title"> {{fnamn}} </h1> 

<div class="company-container">
{{#each deals}}
<div class ="box"> 
<a class ="link-text"> {{title}} </a> <br />
<img src ="/static/uploads/{{bild}}">
<p> {{excerpt}} </p>
<a href = "/annonser/{{_id}}" class ="read-button"> Läs mer </a> <br />
</div> 
{{/each}}
</div>
</div>
